# U 16. for 반복문

## 16.1 for 와 range

In [ ]:
for i in range(10):
  print('hi')

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

array, list - enhanced for loop

for element in list:

In [ ]:
x = 1,3,5
for i in list(x):
  print('hi', i)

hi 1
hi 3
hi 5

In [ ]:
for _ in range(10):
  print('hi')

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

## 16.2 for와 range 응용

In [ ]:
for i in range(4,6):
  print('tes',i)

tes 4
tes 5

In [ ]:
for i in range(0,10,2):
  print('tes',i)

tes 0
tes 2
tes 4
tes 6
tes 8

In [ ]:
for i in range(1,101):
  print('f'*(i%3==0)+'b'*(i%5==0) or i, end=" ")
  if i%10==0:
    print()

1 2 f 4 b f 7 8 f b
11 f 13 14 fb 16 17 f 19 b
f 22 23 f b 26 f 28 29 fb
31 32 f 34 b f 37 38 f b
41 f 43 44 fb 46 47 f 49 b
f 52 53 f b 56 f 58 59 fb
61 62 f 64 b f 67 68 f b
71 f 73 74 fb 76 77 f 79 b
f 82 83 f b 86 f 88 89 fb
91 92 f 94 b f 97 98 f b

## 16.3 시퀀스 객체 반복

In [ ]:
fru = ['app','bana','cherry']
for j in fru:
  print(j)
type(fru)

app
bana
cherry

list

notation 소문자-변수 대문자-class

camelNotation - Java

snake_notation - Python

In [ ]:
for letter in 'python':
  print(letter, end=" ")

p y t h o n

In [ ]:
k = 'python'
for letter in reversed(k):
  print(letter, end=" ")

n o h t y p

# 자기자신을 제외한 약수의 합이 자기자신과 같은 수
ex) 1+2+3 = 6

In [42]:
per_list=[]

for i in range(2,10001):
  sum=0
  for j in range(1,i):
    if i % j == 0:
      sum+=j
  if sum==i:
    per_list.append(i)
    
print('완전수', per_list)

완전수 [6, 28, 496, 8128]