# 22. 심사문제: 2의 거듭제곱 리스트 생성하기
표준 입력으로 정수 두 개가 입력됩니다<br>
(첫 번째 입력 값의 범위는 1\~20, 두 번째 입력 값의 범위는 10~30이며<br>
 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다).<br>
첫 번째 정수부터 두 번째 정수까지를 지수로 하는<br>
2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요<br>
(input에서 안내 문자열은 출력하지 않아야 합니다).<br>
단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요.<br>
출력 결과는 리스트 형태라야 합니다.

In [ ]:
x,y = map(int,input().split())
a=[]

for _ in range(x,y+1):
  a.append(2**_)

del(a[1])
del(a[len(a)-2])

print(a)

1 10
[2, 8, 16, 32, 64, 128, 256, 1024]

# 23. 심사문제: 지뢰찾기
표준 입력으로 2차원 리스트의 가로(col)와 세로(row)가 입력되고<br>
그 다음 줄부터 리스트의 요소로 들어갈 문자가 입력됩니다.<br>
이때 2차원 리스트 안에서 *는 지뢰이고 .은 지뢰가 아닙니다.<br>
지뢰가 아닌 요소에는 인접한 지뢰의 개수를 출력하는 프로그램을 만드세요<br>
(input에서 안내 문자열은 출력하지 않아야 합니다).<br>
<br>

여러 줄을 입력 받으려면 다음과 같이 for 반복문에서 input을 호출한 뒤 append로 각 줄을 추가하면 됩니다<br>
(list 안에 문자열을 넣으면 문자열이 문자 리스트로 변환됩니다).<br>
<br>
<pre>matrix = []<br>
for i in range(row):<br>
    matrix.append(list(input()))<br>

In [ ]:
import random
x,y = map(int,input().split())
 
a=[]
for i in range(y+2):
  b=[]
  for k in range(x+2):
    b.append('_')
  a.append(b)
 
for i in range(1,y+1):
  for k in range(1,x+1):
    if random.randint(1,4)%4==1:
      a[i][k]='X'
 
for i in range(1,y+1):
  for k in range(1,x+1):
    if a[i][k]=='X':
      pass
    else:
      c=0
      for f in range(i-1,i+2):
        for g in range(k-1,k+2):
          if a[f][g]=='X':
            c+=1
      a[i][k]=f'{c}'
 
#print(a)
a

5 7

[['_', '_', '_', '_', '_', '_', '_'],
 ['_', '2', 'X', 'X', '3', '1', '_'],
 ['_', '2', 'X', 'X', 'X', '1', '_'],
 ['_', '1', '3', '4', '3', '1', '_'],
 ['_', '0', '1', 'X', '2', '1', '_'],
 ['_', '1', '2', '2', '3', 'X', '_'],
 ['_', 'X', '1', '1', 'X', '2', '_'],
 ['_', '1', '1', '1', '1', '1', '_'],
 ['_', '_', '_', '_', '_', '_', '_']]

# 24. 심사문제: 특정 단어 개수 세기
표준 입력으로 문자열이 입력됩니다.<br>
입력된 문자열에서 'the'의 개수를 출력하는 프로그램을 만드세요<br>
(input에서 안내 문자열은 출력하지 않아야 합니다).<br>
단, 모든 문자가 소문자인 'the'만 찾으면 되며 'them', 'there', 'their' 등은 포함하지 않아야 합니다.

In [ ]:
s= input()
a,b,c,d=0,0,0,0

a=s.count('the ')
b=s.count('the.')
c=s.count('the,')

print(a+b+c)

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.
6

# 24. 심사문제: 높은 가격순으로 출력하기
표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어 있습니다.<br>
입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요<br>
(input에서 안내 문자열은 출력하지 않아야 합니다).<br>
이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

In [ ]:
price=list(map(int,input().split(';')))
price.sort(reverse=True)

for p in price:
  print(f'{p:,}'.rjust(9))

51900;83000;158000;367500;250000;59200;128500;1304000
1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

# 25. 심사문제: 딕셔너리에서 특정 값 삭제하기
표준 입력으로 문자열 여러 개와 숫자 여러 개가 두 줄로 입력되고,<br>
첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성합니다.<br>
다음 코드를 완성하여 딕셔너리에서 키가 'delta'인 키-값 쌍과 값이 30인 키-값 쌍을 삭제하도록 만드세요.<br>
<br>
keys = input().split()<br>
values = map(int, input().split())<br>
 
x = dict(zip(keys, values))<br>
________________<br>
________________<br>
<br>
print(x)

In [3]:
keys=input().split()
values = map(int, input().split())

di = dict(zip(keys, values))

del(di['delta'])
for k,v in di.items():
  if v == 30:
    break
    
del(di[k])

print(di)

alpha bravo charlie delta echo foxtrot golf
30 40 50 60 70 80 90
{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}

# 26. 심사문제: 공약수 구하기
표준 입력으로 양의 정수 두 개가 입력됩니다.<br>
다음 소스 코드를 완성하여 두 숫자의 공약수를 세트 형태로 구하도록 만드세요.<br>
단, 최종 결과는 공약수의 합으로 판단합니다.<br>
<br>
<pre>________________
________________
________________
 
divisor = a & b<br><br>
result = 0<br>
if type(divisor) == set:<br>
    result = sum(divisor)<br><br>
print(result)

In [ ]:
a1,b1=list(map(int,input().split()))
a2,b2=[],[]

for _ in range(1,a1+1):
  if a1%_ == 0:
    a2.append(_)
for _ in range(1,b1+1):
  if b1%_ == 0:
    b2.append(_)

a=set(a2)
b=set(b2)

divisor = a & b

result = 0
if type(divisor) == set:
    result = sum(divisor)

print(result)

100 200
217