# U 29. 함수

## 29.1 출력 함수 만들기

In [1]:
def hello():
  print('hello world')

In [2]:
hello()

hello world

## 29.2 덧셈 함수

In [3]:
def add(a,b):
  print(a+b)

add(5,7)

12

In [4]:
# Docstrings
def add(a,b):
  """
  add a,b and print the value function
  """
  print(a+b)

In [5]:
# 도움말 호출
add?

In [8]:
def add(a,b):
  return(a+b)

add(5,7), add(12,4)

(12, 16)

In [10]:
def is_ten(x):
  return x==10

is_ten(10), is_ten(12)

(True, False)

In [11]:
def not_ten(x):
  if x==10:
    return
  else:
    print('not 10')

In [12]:
def not_ten(x):
  if x==10:
    return
  print('not 10')

## 29.4 여러개의 결과값 반환

In [13]:
def add_sub(a,b):
  return a+b,a-b

x,y=add_sub(15,7)

x,y

(22, 8)

## 29.5 함수의 호출 과정

In [ ]:
# Stack을 이용한다

### 연습문제
- 3자리 정수 두개를 곱해 나온 결과가 팔린드롬(Palindrome)이 되도록 할 때 가장 큰 수?

In [33]:
x=525
a=[]
while x//10>=1:
  a.append(x%10)
  x=x//10
a.append(x)

k=list(reversed(a))
print(k)
a

if a==k:
  print('y')

[5, 2, 5]
y

In [34]:
def is_pal(x):
  s=str(x)
  return s==s[::-1]

In [35]:
is_pal(500), is_pal(636)

(False, True)

In [37]:
max_p,m,n=0,0,0
for i in range(100,1000):
  for k in range(100,1000):
    if is_pal(i*k):
      if i*k > max_p:
        max_p=i*k
        m=i
        n=k

print(f'{m}*{n}={max_p}')

913*993=906609