# U 30. 위치 인수와 키워드 인수

## 30.1 위치 인수

In [1]:
print(10,20,30)
print(10,20,30,sep=", ")

10 20 30
10, 20, 30

In [2]:
print(10,20,30,sep=", ",40)

SyntaxError: ignored

In [3]:
def print_n(a,b,c):
  print(a)
  print(b)
  print(c)

print_n(10,20,30)

10
20
30

In [4]:
# *x - 리스트/튜플 언패킹

x,y=[10,11,12], (20,21,22)
print_n(*x)
print_n(*y)

10
11
12
20
21
22

### 가변 인수 함수

In [5]:
def print_n2(*args):
  for arg in args:
    print(arg)

print_n2(10,20,30,40,x,*x)

10
20
30
40
[10, 11, 12]
10
11
12

### 고정 인수와 가변 인수

In [6]:
def pri_n3(a,*args):
  print(a)
  print(args)

pri_n3(1,10,20)

1
(10, 20)

In [7]:
pri_n3(*x)

10
(11, 12)

In [8]:
def pri_n4(*args,a):
  print(args)
  print(a)

pri_n4(*x)

TypeError: ignored

## 30.2 키워드 인수

In [9]:
def personal_info(name,age,addr):
  print('이름:',name)
  print('나이:',age)
  print('주소:',addr)

personal_info('홍길동',30,'서울 강남')

이름: 홍길동
나이: 30
주소: 서울 강남

In [10]:
personal_info(age=30,addr='서울 강남',name='홍길동')

이름: 홍길동
나이: 30
주소: 서울 강남

## 30.3 키워드 인수와 딕셔너리 언패킹

In [18]:
x={'name':'홍길동','addr':'서울 강남','age':30}
personal_info(*x)
# 키 값만 출력하게 됨

이름: name
나이: addr
주소: age

In [19]:
personal_info(**x)

이름: 홍길동
나이: 30
주소: 서울 강남

### 가변 키워드 인수

In [20]:
def per_inf2(**kwarags):
  for key, value in kwarags.items():
    print(f'{key}: {value}')

per_inf2(**x)

name: 홍길동
addr: 서울 강남
age: 30

In [21]:
per_inf2(name='hong',age=30)

name: hong
age: 30

### 고정 인수와 가변 키워드 인수

In [28]:
def per_inf3(name,**kaw):
  print(name)
  print(kaw)

per_inf3(**x)

홍길동
{'addr': '서울 강남', 'age': 30}

In [29]:
def per_inf3(age,**kaw):
  print(age)
  print(kaw)

per_inf3(**x)

30
{'name': '홍길동', 'addr': '서울 강남'}

### 위치 인수와 키워드 인수

In [33]:
def my_print(*args,**kwargs):
  print(*args,**kwargs)

my_print(12,20,30,sep=', ')

12, 20, 30

In [34]:
def my_print(*args,**kwargs):
  print(args,kwargs)

my_print(12,20,30,sep=', ')

(12, 20, 30) {'sep': ', '}

## 30.4 매개변수에 초기값 지정

In [42]:
def per_inf4(name, age, addr='비공개'):
  print('이름:',name)
  print('나이:',age)
  print('주소:',addr)

per_inf4('홍길동',30)

이름: 홍길동
나이: 30
주소: 비공개

In [43]:
per_inf4(**x)

이름: 홍길동
나이: 30
주소: 서울 강남