# U 38. 예외처리

## 38.1 try except

In [2]:
a=[1,2,3]
try:
  a[4]
except:
  print("예외발생")

예외발생

### 특정 예외만 처리하기

In [3]:
try:
  int('10d')
except ZeroDivisionError:
  print('no 0')
except IndexError:
  print('index E')
except ValueError:
  print('value E')

value E

### 예외의 에러 메시지 받아오기

In [4]:
try:
  int('10d')
except Exception as e:      # alias
  print(e)                  # Exception 객체의 __str__() method

invalid literal for int() with base 10: '10d'

## 38.2 else-finally

In [7]:
try:
  x= int(input('나눌 숫자 입력> '))
  y= 10/x
except Exception as e:
  print(e)
else:
  print(y)

나눌 숫자 입력> 2
5.0

In [9]:
# 예외와 상관없이 항상 실행
try:
  x= int(input('나눌 숫자 입력> '))
  y= 10/x
except Exception as e:
  print(e)
else:
  print(y)
finally:
  print('end of cord')

나눌 숫자 입력> 4
2.5
end of cord

## 38.3 예외 발생시키기

In [18]:
import random
try:
  x= random.randint(1,10)
  if x%3 != 0:
    raise Exception('3의 배수가 아닙니다.')
  print(x)
except Exception as e:
  print('예외 발생',e)

6

In [19]:
def multiple11(x):
  if x %11 !=0:
    raise Exception('11의 배수가 아닙니다.')
  print(x)

In [20]:
try:
  multiple11(100)
except Exception as e:
  print('예외 발생',e)

예외 발생 11의 배수가 아닙니다.

## 38.4 예외 만들기

In [20]:
# Exception 객체를 상속받아 객체를 만들면 됨