계좌
- 번호
- 소유
- 잔액(balance), 비공개
<br><br>
- 생성자
- 입금(1000만 이하)
- 출금(0미만 불가)
- 출력 가능하게

In [1]:
class Account:
  def __init__(self, acno, own, bal):
    self.acno = acno
    self.own = own
    self.__bal = bal

  def __str__(self):
    return f'num:{self.acno}, owner:{self.own}, bal:{self.__bal}'

  def deposit(self,money):
    if money + self.__bal <= 1000:
      self.__bal += money
    else :
      print("u can't")

  def withdraw(self,money):
    if self.__bal - money < 0:
      print('no')
      return
    self.__bal -= money

In [2]:
mina=Account(123123,"mina",350)

In [3]:
print(mina)

num:123123, owner:mina, bal:350

In [4]:
mina.acno=124124
mina.__bal=400
print(mina)

num:124124, owner:mina, bal:350

In [5]:
mina.deposit(600)
print(mina)

num:124124, owner:mina, bal:950

In [6]:
mina.deposit(600)
print(mina)

u can't
num:124124, owner:mina, bal:950

In [7]:
mina.withdraw(800)
print(mina)

num:124124, owner:mina, bal:150

In [8]:
mina.withdraw(800)
print(mina)

no
num:124124, owner:mina, bal:150

In [9]:
acc2 = Account('45373','yeon',300)
print(acc2)

num:45373, owner:yeon, bal:300

In [10]:
acc_list = [mina, acc2]

In [11]:
for _ in acc_list:
  print(_)

num:124124, owner:mina, bal:150
num:45373, owner:yeon, bal:300

### 1.계좌생성, 2.계과목록, 3.입금, 4.출금, 5.종료

In [12]:
class Acc:
  def __init__(self, acno, own, bal):
    self.acno = acno
    self.own = own
    self.__bal = bal

  def __str__(self):
    return f'num:{self.acno}, owner:{self.own}, bal:{self.__bal}'

  def deposit(self,money):
    if money + self.__bal <= 1000:
      self.__bal += money
    else :
      print("u can't")

  def withdraw(self,money):
    if self.__bal - money < 0:
      print('no')
      return
    self.__bal -= money

In [13]:
def create_acc():
  s= input('계좌번호 성명 금액> ').split()
  ano,own=s[0],s[1]
  amou = int(s[2])
  acc= Acc(ano,own,amou)
  acc_list.append(acc)

In [20]:
def depo_acc():
  s= input('계좌 금액> ').split()
  ano, amou=s[0],int(s[1])
  
  for _ in acc_list:
    if _.acno == ano:
      _.deposit(amou)
      return

def with_acc():
  s= input('계좌 금액> ').split()
  ano, amou=s[0],int(s[1])
  
  for _ in acc_list:
    if _.acno == ano:
      _.withdraw(amou)
      return

In [21]:
while True:
  menu = int(input('1.계좌생성, 2.계과목록, 3.입금, 4.출금, 5.종료> '))
  if menu==5:
    break
  if menu==1:
    create_acc()
  elif menu==2:
    for _ in acc_list:
      print(_)
  elif menu==3:
    depo_acc()
  elif menu==4:
    with_acc()
  else:
    print('wrong')

1.계좌생성, 2.계과목록, 3.입금, 4.출금, 5.종료> 2
num:124124, owner:mina, bal:150
num:45373, owner:yeon, bal:300
num:2324, owner:kim, bal:900
1.계좌생성, 2.계과목록, 3.입금, 4.출금, 5.종료> 3
계좌 금액> 2324 50
1.계좌생성, 2.계과목록, 3.입금, 4.출금, 5.종료> 2
num:124124, owner:mina, bal:150
num:45373, owner:yeon, bal:300
num:2324, owner:kim, bal:950
1.계좌생성, 2.계과목록, 3.입금, 4.출금, 5.종료> 3
계좌 금액> 2324 50
1.계좌생성, 2.계과목록, 3.입금, 4.출금, 5.종료> 2
num:124124, owner:mina, bal:150
num:45373, owner:yeon, bal:300
num:2324, owner:kim, bal:1000
1.계좌생성, 2.계과목록, 3.입금, 4.출금, 5.종료> 3
계좌 금액> 2324 500
u can't
1.계좌생성, 2.계과목록, 3.입금, 4.출금, 5.종료> 4
계좌 금액> 2324 1000
1.계좌생성, 2.계과목록, 3.입금, 4.출금, 5.종료> 2
num:124124, owner:mina, bal:150
num:45373, owner:yeon, bal:300
num:2324, owner:kim, bal:0
1.계좌생성, 2.계과목록, 3.입금, 4.출금, 5.종료> 4
계좌 금액> 2324 10
no
1.계좌생성, 2.계과목록, 3.입금, 4.출금, 5.종료> 3
계좌 금액> 3344 599
1.계좌생성, 2.계과목록, 3.입금, 4.출금, 5.종료> 2
num:124124, owner:mina, bal:150
num:45373, owner:yeon, bal:300
num:2324, owner:kim, bal:0
1.계좌생성, 2.계과목록, 3.입금, 4.출금, 5.종료> 5